{% extends 'base.html' %} {% block content %}
<div id="forms">
  <div class="signup">
    <h1 class="title">Sign Up</h1>
    <form class="form" method="post">
      {{ signup.csrf_token }}

      <div class="group">
        <p class="label">{{ signup.username.label }}</p>
        {{ signup.username(class="input") }} {% for error in
        signup.username.errors %}
        <li class="error">{{error}}</li>
        {% endfor %}
      </div>

      <div class="group">
        <p class="label">{{ signup.email.label }}</p>
        {{ signup.email(class="input") }} {% for error in signup.email.errors %}
        <li class="error">{{error}}</li>
        {% endfor %}
      </div>
      <div class="group">
        <p class="label">{{ signup.password.label }}</p>
        {{ signup.password(class="input") }} {% for error in
        signup.password.errors %}
        <li class="error">{{error}}</li>
        {% endfor %}
      </div>

      <div class="group">
        <p class="label">{{ signup.password_confirm.label }}</p>
        {{ signup.password_confirm(class="input") }} {% for error in
        signup.password_confirm.errors %}
        <li class="error">{{error}}</li>
        {% endfor %}
      </div>
      <div class="group">
        {{ signup.submit(class="btn") }} {% for error in signup.submit.errors %}
        <li class="error">{{error}}</li>
        {% endfor %}
      </div>
    </form>
    <p class="text">
      Already have an account?
      <a class="link" href="{{url_for('auth.login')}}">Log In</a>
    </p>
  </div>
</div>

{% endblock %}
