@import '../base/colors';
@import '../base/fonts';
@import '../base/mixins';

#footer {
  gap: 1rem;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  margin-top: auto;
  @include row-between;
  background-color: $dark;

  .text {
    @include text;
    color: $primary;
    font-weight: 200;
  }
  .copy {
    @include text;
    color: $primary;
    font-weight: 200;
  }
}
