@import '../base/colors';
@import '../base/fonts';
@import '../base/mixins';

#forms {
  width: 100%;
  padding: 4rem;
  @include image;
  min-height: 100vh;
  @include col-center;
  background-image: url('/assets/images/cover-one.svg');

  .signup,
  .login,
  .create {
    width: 60%;
    padding: 3rem;
    @include shadow;
    @include col-center;
    border-radius: 0.4rem;
    background-color: $light;

    .title {
      @include title;
      color: $dark;
      margin-bottom: 2rem;
    }

    .text {
      color: $text;
      @include text;
      margin-bottom: 2rem;

      .link {
        color: $dark;
        @include link;
        @include text;
        font-weight: 600;
      }
    }

    .message {
      color: $text;
      @include text;
      margin-bottom: 2rem;

      .error {
        @include text;
        color: $danger;
        font-weight: 300;
      }
    }

    .form {
      width: 100%;
      @include col-center;

      .remember {
        width: 80%;
        @include row-start;

        .input {
          @include text;
          @include input;
          margin: 0.5rem 1rem;
        }
      }

      .group {
        width: 100%;
        margin: 0.4rem 0;
        @include col-center;

        .error {
          @include text;
          color: $danger;
          list-style: none;
        }

        .label {
          width: 80%;
          color: $text;
          @include text;
          font-size: 0.8rem;
        }

        .input {
          width: 80%;
          @include text;
          @include input;
        }

        .btn {
          width: 80%;
          @include btn;
          margin: 0.5rem 0;
        }
      }
    }
  }
}
