@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\000038}}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000325}}
  body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
    margin: 0; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000331}}
    ul[role='list'], ol[role='list'] {
      list-style: none; }

      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000338}}
      html:focus-within {
        scroll-behavior: smooth; }

        @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000343}}
        body {
          line-height: 1.5;
          color: #252c41;
          font-family: 'Outfit', sans-serif;
          background-color: #e4e7f1;
          text-rendering: optimizeSpeed; }

          @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000352}}
          a:not([class]) {
            text-decoration-skip-ink: auto; }

            @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000358}}
            img, picture {
              max-width: 100%;
              display: block; }

              @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000367}}
              input, button, textarea, select {
                font: inherit; }

                @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000372}}
                @media (prefers-reduced-motion: reduce) {
                  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000372}}
                  html:focus-within {
                    scroll-behavior: auto;   }
                    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000378}}
                    *, *::before, *::after {
                      animation-duration: 0.01ms !important;
                      animation-iteration-count: 1 !important;
                      transition-duration: 0.01ms !important;
                      scroll-behavior: auto !important;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000389}}
::-webkit-scrollbar {
  width: 0.4rem;
  border-radius: 5rem; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000394}}
  ::-webkit-scrollbar-track {
    background: #e4e7f1; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000398}}
    ::-webkit-scrollbar-thumb {
      margin: 0.2rem;
      background: #252c41;
      border-radius: 5rem; }

      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\00003104}}
      ::-webkit-scrollbar-thumb:hover {
        background: #9bc53d; }

        @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\00003109}}
        input:-webkit-autofill, input:-webkit-autofill:focus {
          font: inherit;
          transition: background-color 600000s 0s, color 600000s 0s; }

          @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_forms\.scss}line{font-family:\0000313}}
          #forms {
            width: 100%;
            padding: 4rem;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100vh;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background-image: url('/assets/images/cover-one.svg'); }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_forms\.scss}line{font-family:\0000321}}
            #forms .signup, #forms .login {
              width: 60%;
              padding: 3rem;
              box-shadow: 0px 0px 48px 13px rgba(67, 79, 117, 0.64);
              -webkit-box-shadow: 0px 0px 48px 13px rgba(67, 79, 117, 0.64);
              -moz-box-shadow: 0px 0px 48px 13px rgba(67, 79, 117, 0.64);
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: center;
              border-radius: 0.4rem;
              background-color: #fefffe; }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_forms\.scss}line{font-family:\0000327}}
              #forms .signup .title, #forms .login .title {
                line-height: 1;
                font-weight: 400;
                font-size: 3.2rem;
                font-family: 'Outfit', sans-serif;
                color: #252c41;
                margin-bottom: 2rem; }
                @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_forms\.scss}line{font-family:\0000333}}
                #forms .signup .text, #forms .login .text {
                  color: #434f75;
                  font-size: 1rem;
                  font-weight: 400;
                  font-family: 'Outfit', sans-serif;
                  letter-spacing: 0.01rem;
                  margin-bottom: 2rem; }
                  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_forms\.scss}line{font-family:\0000337}}
                  #forms .signup .text .link, #forms .login .text .link {
                    color: #252c41;
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 400;
                    font-family: 'Outfit', sans-serif;
                    letter-spacing: 0.01rem;
                    font-weight: 600; }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_forms\.scss}line{font-family:\0000346}}
              #forms .signup .message, #forms .login .message {
                color: #434f75;
                font-size: 1rem;
                font-weight: 400;
                font-family: 'Outfit', sans-serif;
                letter-spacing: 0.01rem;
                margin-bottom: 2rem; }
                @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_forms\.scss}line{font-family:\0000350}}
                #forms .signup .message .error, #forms .login .message .error {
                  font-size: 1rem;
                  font-weight: 400;
                  font-family: 'Outfit', sans-serif;
                  letter-spacing: 0.01rem;
                  color: #f292a4;
                  font-weight: 300; }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_forms\.scss}line{font-family:\0000358}}
              #forms .signup .form, #forms .login .form {
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center; }
                @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_forms\.scss}line{font-family:\0000361}}
                #forms .signup .form .remember, #forms .login .form .remember {
                  width: 80%;
                  display: flex;
                  flex-direction: row;
                  align-items: flex-start;
                  justify-content: flex-start; }
                  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_forms\.scss}line{font-family:\0000364}}
                  #forms .signup .form .remember .input, #forms .login .form .remember .input {
                    font-size: 1rem;
                    font-weight: 400;
                    font-family: 'Outfit', sans-serif;
                    letter-spacing: 0.01rem;
                    color: #252c41;
                    outline: none;
                    font-size: 1rem;
                    padding: 0.7rem;
                    margin: 0.2rem 0;
                    border-radius: 0.4rem;
                    background: transparent;
                    border: 2px solid #9bc53d;
                    margin: 0.5rem 1rem; }
                    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_forms\.scss}line{font-family:\0000373}}
                    #forms .signup .form .remember .input::placeholder,
                    #forms .login .form .remember .input::placeholder {
                      color: #434f75;
                      background: transparent; }
                      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_forms\.scss}line{font-family:\0000377}}
                      #forms .signup .form .remember .input:focus,
                      #forms .login .form .remember .input:focus {
                        color: #434f75;
                        background: transparent; }
                        @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_forms\.scss}line{font-family:\0000381}}
                        #forms .signup .form .remember .input:active,
                        #forms .login .form .remember .input:active {
                          color: #434f75;
                          background: transparent; }
                          @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_forms\.scss}line{font-family:\0000385}}
                          #forms .signup .form .remember .input:focus-visible,
                          #forms .login .form .remember .input:focus-visible {
                            color: #434f75;
                            background: transparent; }
                @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_forms\.scss}line{font-family:\0000372}}
                #forms .signup .form .group, #forms .login .form .group {
                  width: 100%;
                  margin: 0.4rem 0;
                  display: flex;
                  align-items: center;
                  flex-direction: column;
                  justify-content: center; }
                  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_forms\.scss}line{font-family:\0000376}}
                  #forms .signup .form .group .error, #forms .login .form .group .error {
                    font-size: 1rem;
                    font-weight: 400;
                    font-family: 'Outfit', sans-serif;
                    letter-spacing: 0.01rem;
                    color: #f292a4;
                    list-style: none; }
                    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_forms\.scss}line{font-family:\0000382}}
                    #forms .signup .form .group .label, #forms .login .form .group .label {
                      width: 80%;
                      color: #434f75;
                      font-size: 1rem;
                      font-weight: 400;
                      font-family: 'Outfit', sans-serif;
                      letter-spacing: 0.01rem;
                      font-size: 0.8rem; }
                      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_forms\.scss}line{font-family:\0000389}}
                      #forms .signup .form .group .input, #forms .login .form .group .input {
                        width: 80%;
                        font-size: 1rem;
                        font-weight: 400;
                        font-family: 'Outfit', sans-serif;
                        letter-spacing: 0.01rem;
                        color: #252c41;
                        outline: none;
                        font-size: 1rem;
                        padding: 0.7rem;
                        margin: 0.2rem 0;
                        border-radius: 0.4rem;
                        background: transparent;
                        border: 2px solid #9bc53d; }
                        @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_forms\.scss}line{font-family:\0000398}}
                        #forms .signup .form .group .input::placeholder,
                        #forms .login .form .group .input::placeholder {
                          color: #434f75;
                          background: transparent; }
                          @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_forms\.scss}line{font-family:\00003102}}
                          #forms .signup .form .group .input:focus, #forms .login .form .group .input:focus {
                            color: #434f75;
                            background: transparent; }
                            @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_forms\.scss}line{font-family:\00003106}}
                            #forms .signup .form .group .input:active, #forms .login .form .group .input:active {
                              color: #434f75;
                              background: transparent; }
                              @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_forms\.scss}line{font-family:\00003110}}
                              #forms .signup .form .group .input:focus-visible,
                              #forms .login .form .group .input:focus-visible {
                                color: #434f75;
                                background: transparent; }
                  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_forms\.scss}line{font-family:\0000395}}
                  #forms .signup .form .group .btn, #forms .login .form .group .btn {
                    width: 80%;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    color: #caf316;
                    background: #252c41;
                    padding: 1rem 2rem;
                    border-radius: 0.4rem;
                    letter-spacing: 0.1rem;
                    text-transform: uppercase;
                    margin: 0.5rem 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_navbar\.scss}line{font-family:\0000318}}
#navbar {
  top: 0;
  width: 100%;
  height: 5rem;
  z-index: 100;
  padding: 2rem;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #252c41;
  justify-content: space-between; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_navbar\.scss}line{font-family:\0000328}}
  #navbar .left {
    gap: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: flex-start; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_navbar\.scss}line{font-family:\0000331}}
    #navbar .left .link {
      text-decoration: none; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_navbar\.scss}line{font-family:\0000332}}
      #navbar .left .link .text {
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Outfit', sans-serif;
        letter-spacing: 0.01rem;
        color: #9bc53d; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_navbar\.scss}line{font-family:\0000341}}
  #navbar .right {
    gap: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: flex-end; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_navbar\.scss}line{font-family:\0000344}}
    #navbar .right .link {
      gap: 0.5rem;
      text-decoration: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_navbar\.scss}line{font-family:\0000348}}
      #navbar .right .link .text {
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Outfit', sans-serif;
        letter-spacing: 0.01rem;
        color: #9bc53d; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_footer\.scss}line{font-family:\0000315}}
#footer {
  gap: 1rem;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #252c41; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_footer\.scss}line{font-family:\0000323}}
  #footer .text {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
    letter-spacing: 0.01rem;
    color: #9bc53d;
    font-weight: 200; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_footer\.scss}line{font-family:\0000328}}
    #footer .copy {
      font-size: 1rem;
      font-weight: 400;
      font-family: 'Outfit', sans-serif;
      letter-spacing: 0.01rem;
      color: #9bc53d;
      font-weight: 200; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/global\.scss}line{font-family:\0000313}}
#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }
