@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\000038}}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000325}}
  body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
    margin: 0; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000331}}
    ul[role='list'], ol[role='list'] {
      list-style: none; }

      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000338}}
      html:focus-within {
        scroll-behavior: smooth; }

        @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000343}}
        body {
          line-height: 1.5;
          color: #252c41;
          font-family: 'Outfit', sans-serif;
          background-color: #e5e8f0;
          text-rendering: optimizeSpeed; }

          @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000352}}
          a:not([class]) {
            text-decoration-skip-ink: auto; }

            @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000358}}
            img, picture {
              max-width: 100%;
              display: block; }

              @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000367}}
              input, button, textarea, select {
                font: inherit; }

                @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000372}}
                @media (prefers-reduced-motion: reduce) {
                  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000372}}
                  html:focus-within {
                    scroll-behavior: auto;   }
                    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000378}}
                    *, *::before, *::after {
                      animation-duration: 0.01ms !important;
                      animation-iteration-count: 1 !important;
                      transition-duration: 0.01ms !important;
                      scroll-behavior: auto !important;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000389}}
::-webkit-scrollbar {
  width: 0.4rem;
  border-radius: 5rem; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000394}}
  ::-webkit-scrollbar-track {
    background: #e5e8f0; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000398}}
    ::-webkit-scrollbar-thumb {
      background: #9bc53d;
      border-radius: 5rem;
      margin: 0.2rem; }

      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\00003104}}
      ::-webkit-scrollbar-thumb:hover {
        background: #1be7ff; }

        @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\00003109}}
        input:-webkit-autofill, input:-webkit-autofill:focus {
          font: inherit;
          transition: background-color 600000s 0s, color 600000s 0s; }

          @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_navbar\.scss}line{font-family:\0000318}}
          #navbar {
            top: 0;
            width: 100%;
            height: 5rem;
            z-index: 100;
            padding: 2rem;
            position: fixed;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: #252c41;
            justify-content: space-between; }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_navbar\.scss}line{font-family:\0000328}}
            #navbar .left {
              gap: 1.2rem;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              justify-content: flex-start; }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_navbar\.scss}line{font-family:\0000331}}
              #navbar .left .link {
                text-decoration: none; }
                @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_navbar\.scss}line{font-family:\0000332}}
                #navbar .left .link .text {
                  font-size: 1rem;
                  font-weight: 400;
                  font-family: 'Outfit', sans-serif;
                  letter-spacing: 0.05rem;
                  color: #1be7ff; }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_navbar\.scss}line{font-family:\0000341}}
            #navbar .right {
              gap: 1.2rem;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              justify-content: flex-end; }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_navbar\.scss}line{font-family:\0000344}}
              #navbar .right .link {
                gap: 0.5rem;
                text-decoration: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center; }
                @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_navbar\.scss}line{font-family:\0000348}}
                #navbar .right .link .text {
                  font-size: 1rem;
                  font-weight: 400;
                  font-family: 'Outfit', sans-serif;
                  letter-spacing: 0.05rem;
                  color: #1be7ff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_footer\.scss}line{font-family:\0000315}}
#footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 5rem;
  margin-top: auto;
  background-color: #252c41; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_footer\.scss}line{font-family:\0000322}}
  #footer .text {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
    letter-spacing: 0.05rem;
    color: #1be7ff; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/styles\/_footer\.scss}line{font-family:\0000326}}
    #footer .copy {
      font-size: 1rem;
      font-weight: 400;
      font-family: 'Outfit', sans-serif;
      letter-spacing: 0.05rem;
      color: #9bc53d; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/kurasa\/app\/assets\/sass\/global\.scss}line{font-family:\0000313}}
#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }
