// Primary colors
$primary: #9bc53d;
$secondary: #77ba99;
$tertiary: #caf316;
$accent: #f1f500;

// Light colors
$light: #fefffe;

$light-100: #f2f3f8;
$light-200: #e4e7f1;
$light-300: #d7dbea;

// Accent colors
$alt: #343e5b;
$text: #434f75;
$danger: #f292a4;

// Dark colors
$dark: #252c41;
