// Primary colors
$primary: #9bc53d;

// Light colors
$light-100: #f2f3f8;
$light-200: #e4e7f1;
$light-300: #d7dbea;

// Accent colors
$text: #434f75;
$accent: #343e5b;
$danger: #f292a4;

// Dark colors
$dark: #252c41;
