@mixin row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@mixin row-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@mixin col-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@mixin col-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@mixin row-start {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

@mixin grid-column {
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

@mixin grid-two {
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@mixin grid-three {
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@mixin grid-four {
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@mixin title {
  line-height: 1;
  font-weight: 400;
  font-size: 3.2rem;
  font-family: $font;
}

@mixin subtitle {
  font-weight: 200;
  font-size: 1.7rem;
  font-family: $font;
}

@mixin subtext {
  font-weight: 500;
  font-size: 1.3rem;
  font-family: $font;
  letter-spacing: 0.05rem;
}

@mixin text {
  font-size: 1rem;
  font-weight: 400;
  font-family: $font;
  letter-spacing: 0.01rem;
}

@mixin brandtext {
  font-size: 0.8rem;
  color: $primary;
  margin: 0.2rem 0;
  font-weight: 600;
  font-family: $font;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
@mixin link {
  text-decoration: none;
}
@mixin input {
  color: $dark;
  outline: none;
  font-size: 1rem;
  padding: 0.7rem;
  margin: 0.2rem 0;
  border-radius: 0.4rem;
  background: transparent;
  border: 2px solid $primary;

  &::placeholder {
    color: $text;
    background: transparent;
  }
  &:focus {
    color: $text;
    background: transparent;
  }
  &:active {
    color: $text;
    background: transparent;
  }
  &:focus-visible {
    color: $text;
    background: transparent;
  }
}

@mixin btn {
  border: none;
  outline: none;
  cursor: pointer;
  color: $tertiary;
  background: $dark;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

@mixin btn-round {
  outline: none;
  cursor: pointer;
  color: $primary;
  font-weight: 300;
  font-size: 0.8rem;
  border-radius: 5rem;
  padding: 0.7rem 1.3rem;
  letter-spacing: 0.2rem;
  background: transparent;
  text-transform: uppercase;
  border: 2px solid $primary;
}

@mixin navicon {
  width: 2.7rem;
  height: 2.7rem;
}

@mixin cardicon {
  width: 4rem;
  height: 4rem;
}

@mixin image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin date {
  color: $primary;
  font-size: 0.8rem;
  font-family: $font;
}

@mixin shadow {
  box-shadow: 0px 0px 48px 13px rgba(67, 79, 117, 0.64);
  -webkit-box-shadow: 0px 0px 48px 13px rgba(67, 79, 117, 0.64);
  -moz-box-shadow: 0px 0px 48px 13px rgba(67, 79, 117, 0.64);
}
