{% extends 'base.html' %} {% import 'macros.html' as macro %} {% block content
%} {% include 'navbar.html' %}
<section class="container">
  <div class="hero">
    <div class="hero-content">
      <h1 class="hero-title">Kurasa blog</h1>
      <p class="hero-text">The medium of content</p>
    </div>
  </div>
  <div id="section-title">
    <h3 class="title">Recent Pitches</h3>
  </div>
  <!-- {% if pitch %}
  <div id="pitches">{{ macro.get(pitch) }}</div>
  {% else %}
  <p class="msg-text">No recent Pitches available</p>
  {% endif %} -->
</section>
{% endblock %}
