<nav id="navbar">
  <div class="left">
    <a class="link" href="">
      <p class="text">KURASA</p>
    </a>
  </div>

  <div class="right">
    {% if current_user.is_authenticated %}
    <a
      class="link"
      href="{{url_for('main.profile',uname=current_user.username)}}"
    >
      <p class="text">{{current_user.username}}</p>
    </a>
    <a class="link" href="{{url_for('auth.logout')}}">
      <p class="text">Logout</p>
    </a>
    {% else %}
    <a class="link" href="{{url_for('auth.login')}}">
      <p class="text">Login</p>
    </a>
    <a class="link" href="{{url_for('auth.signup')}}">
      <p class="text">Join</p>
    </a>
    {% endif %}
  </div>
</nav>
